@import "../../styles/responsive.scss";

.bigbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  width: 100%;

 h1 {
   @include xxl {
     font-size: 24px;
   }
 }

  .chart {
    height: 300px;
    width: 100%;
  }
}
